[2018-11-21 09:42] inventvictor opened #1 "How does it work"
What does this do? How does it work?

[2018-11-22 23:35] SergiuToporjinschi commented on #1
Hi, is not ready yet. I would say that is functional but some issues with statuses sent from it.
is an interface for a heater; the slider is the custom temperature set by the user, the slider is changing the target temperature. the node should receive a message with topic "currentTemp" which is the refere  temperature. That message triggers also the calculation to decide if it should turn the heat

[2018-11-22 23:37] SergiuToporjinschi commented on #1
if you have any improvement ideas... I would like to hear them :)

[2018-11-22 23:38] SergiuToporjinschi commented on #1
here is a testing schema
`[{"id":"e46f3c73.cf7c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f41b3621.6bf3b8","type":"inject","z":"e46f3c73.cf7c","name":"currentTemp25","topic":"currentTemp","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":440,"wires":[["341466f0.92458a"]]},{"id":"9d4d8b48.228078","type":"debug","z":"e46f3c73

[2018-11-23 08:15] #1 closed

[2018-11-23 08:15] SergiuToporjinschi opened #2 "Schedule is not considered"

[2018-11-23 16:50] johnwalicki opened #3 "Add screenshot of the UI widget to the README"
Interesting idea!  I need this.  Not certain I want take the time to install it however.  I've hacked up a crude implementation with a bunch of standard Node-RED Dashboard widgets. A screenshot of the Heater Controller UI Widget in the README would be a useful addition to convince me to install it.

[2018-11-23 23:35] SergiuToporjinschi commented on #3
Hi @johnwalicki ,
here is a screen shot
![image](https://user-images.githubusercontent.com/9376439/48962464-01874380-ef89-11e8-8210-1b1da8fc5633.png)
and here a testing schema
`[{"id":"e46f3c73.cf7c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f41b3621.6bf3b8","type":"inject","z":"e46f3c73.cf7c","name":"currentTemp25","topic":"currentTemp","payload":"25","payloadType":"num","r

[2018-11-23 23:35] SergiuToporjinschi commented on #3
I just worked on this, I will have also more details in read me files, probably tomorrow.:)

[2018-11-24 08:57] SergiuToporjinschi opened #4 "Temporary user target"
User sould be able to set a temperature until the next program change.

[2018-11-24 08:59] SergiuToporjinschi opened #5 "Vacation mode"
User should be able to set a vacation mode and set temperature for a number of days.

[2018-11-27 14:04] #3 closed

[2018-11-27 23:48] johnwalicki commented on #3
Thanks!

[2018-11-29 16:55] cjsneevliet opened #6 ""TypeError: Cannot read property 'push' of undefined""
wanted to try this node, but when I deploy it I get the "TypeError: Cannot read property 'push' of undefined" in the debug window

[2018-12-03 09:35] SergiuToporjinschi commented on #6
Hi,
Can you put here a test schema?
thank you!

[2018-12-06 19:59] aaronpropst commented on #6
I get the same thing.  I didn't do anything special, I just dropped it into my flow and fed it a value.

It throws that exception when it is deployed in a flow.  Here's my log:

[code]

My NR startup:
[code]

from heater module install:
[code]

[2018-12-06 21:19] aaronpropst commented on #6
I updated my node-red and dashboard to the lates and now I see something different:
[code]

[2018-12-08 11:00] SergiuToporjinschi commented on #6
Hi, @aaronpropst  I see, from your last comment, I think is a problem of language;
do you have some other language on your browser? because my node does not have translation for other languages. just US and Romanian, :) because I'm a Romanian. I would put a new language if you fork the project and add your language.
I will add also UK because is easy for me, If you want you can create a new langua

[2018-12-08 11:02] SergiuToporjinschi commented on #6
We both have the same node-red version but dashboard version is different. I'm using 2.12.
The first error that you had it was from dashboard version "TypeError: RED.require is not a function" or node-red because require is a function in RED object ...

[2018-12-08 11:03] #4 closed

[2018-12-08 15:42] SergiuToporjinschi commented on #6
So that error is thrown when you try to add a new ui node to dashboard without selecting any group.
Please edit node properties and select the group/tab where you want this control to be visible.
Therefore I'm closing this issue

[2018-12-08 15:42] #6 closed

[2018-12-09 04:56] aaronpropst commented on #6
I did select a group in the control’s ui.   It never showed up in the dashboard or the group’s control list with the other controls though.  I assumed that was because it was crashing.

[2018-12-10 08:04] SergiuToporjinschi commented on #6
No, was not visible in dashboard tab, because the name of the project was not prefixed with "ui_" I just fixed that.
I could reproduce this error, same stack trace.
` TypeError: args[0].indexOf is not a function
nr_1  |     at Object.red._ (/data/node_modules/node-red/red/runtime/nodes/registry/loader.js:116:21)
nr_1  |     at new getNode (/data/node_modules/node-red-contrib-heater-controller/heat

[2018-12-15 22:08] jensfr1 commented on #6
I have the same issue. Selected a group but is not showing up in the dashboard. How can I solve it?

[2018-12-17 18:24] SergiuToporjinschi commented on #6
@jensfr1 try edit and select again the group, and redeploy it. Did you tried that ?

[2018-12-17 18:46] aaronpropst commented on #6
I got it running with the latest version.  Thanks!

[2018-12-17 18:49] aaronpropst opened #7 "fahrenheit support for users in backward countries. : )"
I'd love to be able to change the "C" Labels to "F"   Or just to omit them all together.  I know what units I'm using and the module works just fine otherwise, when fed fahrenheit measurements.

[2018-12-17 18:53] SergiuToporjinschi commented on #6
@aaronpropst I'm really glad to hear that :+1:  I saw that you forked the project and I was waiting to see your change

[2018-12-17 18:55] aaronpropst commented on #6
I was going to mess around with solving:
https://github.com/SergiuToporjinschi/node-red-contrib-heater-controller/issues/7
for myself.   I don't know if I'll have time to get around to doing it properly with other commitments though.   I'll keep you posted over there.

[2018-12-17 19:00] SergiuToporjinschi commented on #7
I will add it

[2018-12-17 19:42] SergiuToporjinschi commented on #7
Done!
@aaronpropst Wait for node-red flows to be undated to 1.1.6

[2018-12-17 19:42] #7 closed

[2018-12-17 19:49] SergiuToporjinschi opened #8 "Add option for keep and display logs"
Optionally the user should be able to see the a log when on and off was emitted

[2018-12-17 19:50] SergiuToporjinschi opened #9 "Add topic"
Add topic

[2018-12-17 19:55] aaronpropst commented on #7
Great! thanks!
There's a couple more locations that need that Unit value though:
https://github.com/SergiuToporjinschi/node-red-contrib-heater-controller/blob/master/frontEnd.js#L63-L64

[2018-12-17 20:03] SergiuToporjinschi commented on #7
:))))
@aaronpropst I was so happy that I commit all changes at once and there are no issues :D :D

[2018-12-17 20:04] SergiuToporjinschi commented on #7
I published again

[2018-12-17 20:58] SergiuToporjinschi commented on #9
done

[2018-12-17 20:58] #9 closed

[2018-12-26 08:31] Alcantor opened #10 "Add input topic "userTargetValue""
Hello,

First, thank you for you work, I plan to use your widget for my home automation.

I wanted to control the widget with voice command (Alexa), so for my usage an input topic "userTargetValue" would be very welcome.

[code]

[2018-12-26 08:55] Alcantor commented on #10
[code]

[2018-12-28 02:38] HanSolo72 opened #11 "Please add German translation"
{
    "heater_controller": {
        "label": {
            "size": "Größe",
            "name": "Name",
            "group": "Gruppe",
            "topic": "Topic",
            "slider": "Schieberegler",
            "min": "Min",
            "max": "Max",
            "step": "Schrittweite",
            "unit": "Einheit",
            "celsiusUnit": "Celsius",
            "fahrenheitUnit": "Fahrenh

[2018-12-28 02:41] HanSolo72 opened #12 "Add checkbox 'If msg arrives on input, pass through to output:'"
First, thanks to your great work!

Til now I used the default slider. There is a checkbox **If msg arrives on input, pass through to output:** that avoids endless loops. Please add the same option, because I just created an endless loop.

[2018-12-28 08:48] SergiuToporjinschi commented on #12
Hi,
Can you do a fork? I'm not sure what you mean. I will review the changes and I can say if I can merge it.

[2018-12-28 08:48] SergiuToporjinschi commented on #11
Please create a fork and ask for pull

[2018-12-28 08:49] SergiuToporjinschi commented on #10
Can you create a fork and ask for a pull request?

[2018-12-28 10:49] HanSolo72 commented on #12
Hi,
I can't, because I'm not a experienced coder. It's just an enhancement request. I uploaded a screenshot:
https://i.imgur.com/tUPA4tw.png

My problemis: When the target temperature is set from Alexa, I pass the value by topic userTargetValue to the heater node and the heater note sets the target value. That is my endless loop.

[2018-12-28 17:13] Alcantor commented on #10
Ok, done.

[2018-12-28 17:13] #10 closed

[2018-12-28 21:13] SergiuToporjinschi commented on #11
Thanks!

[2018-12-28 21:13] #11 closed

[2018-12-28 21:14] SergiuToporjinschi commented on #12
I don't have time now, but I will take this in consideration on next release thank you for your idea

[2019-01-18 13:34] NewYor opened #15 "Hysteresis"
I don't see any hysteresis or anticipator logic. Any plans for that?

[2019-01-18 14:11] NewYor commented on #15
i was looking in the wrong place, nevermind

[2019-01-18 14:11] #15 closed

[2019-01-19 13:06] SergiuToporjinschi commented on #15
Hi you can set the Upper/lower threshold in configuration. This means the heater will not start until is the temperature is target + upper and will stop when temperature is target-lower.
This is helping you?

[2019-01-27 16:07] WoMec opened #16 "Changeable Calendar by message"
Hi, I'm trying to setup home thermostat, but no luck so far. When I deploy your node, setup dashboard group and deploy flow, I can't see ui in dashbard, I get error to debug tab

[code]

and syslog says

[code]

**node red version: v0.19.5
dashboard version: 2.13.0
thermostat verstion: 1.2.0**

I also tried to add some dummy buttons and other stuff to dashboard and those are displayed correctly

[2019-01-28 07:36] vdoucet opened #17 "Padlock function ? (Update screen shot and read me file)"
Hi and thank you for the great work.
I'm switching my home automation system to node-red and I'm using your thermostat (ver. 1.2.0). So far it runs successfuly but I have a question regarding the padlock function on the left of the UI.
What is it supposed to do ? I did some tests but I didn't understand the role.
If you could give some hints ...
Thx,
Vincent

[2019-01-28 11:49] SergiuToporjinschi commented on #17
Hi,
Once you set a target value, that will be available only until next change in calendar, if the padlock is unlocked;
That means you are saying something like I want the new target until next change, no matter if the next value from calendar is less then target or greater then target.
Let's say is 3pm and the calendar say that should be 20 degrees until 5pm when the new temperature will be 23 de

[2019-01-28 11:57] SergiuToporjinschi commented on #16
Hmmm that's trange, at that line is getting a reference to dashboard. It's like not having node-red-dashboard module installed;
I have 2.12.1 probably it has some major change in 13. I will update and do the change tonight.

[2019-01-28 14:54] vdoucet commented on #17
Thanks Sergiu, it's clear !

[2019-01-28 22:53] SergiuToporjinschi commented on #16
Hi, I looked on this but unfortunately I could not reproduce it; Now I'm using
node-red-dashboard: 2.13.1 -> unfortunately I cannot put 2.13.0
node red version: 0.19.5

Can you please update dashboard to 2.13.1 ? maybe they had an issue at 2.13.0. And let me know if it's working

[2019-01-29 07:47] WoMec commented on #16
I found probable problem. I found, that months ago I installed dashboard via cli so I was unable to update dashboard module via palette manager. So I uninstalled dashboard from cli, reinstall it from palette manager and heater control works perfectly now.

Maybe I have one more question. is it somehow possible to edit calendar from UI?  Via some other input? Or do you planning to add calendar edit

[2019-01-29 08:20] SergiuToporjinschi commented on #16
Good to hear that is working.
No I did not planned this, but it seems a good idea. The problem is that I don't know when I will be able to do that. Currently I'm working on other project

[2019-01-29 08:35] vdoucet commented on #16
I thought of using google calendar as an input to userTargetValue but I'm not ready yet to test that.
That way you can update your calendar from anywhere ... not sure yet how to run it though !

[2019-01-29 08:43] SergiuToporjinschi commented on #16
I've marked this as enhancement. I will do the changes for that.

[2019-02-01 17:14] WoMec commented on #16
Changeable Calendar by message or UI in widget :)

[2019-02-03 12:46] rmtucker opened #18 "Allow a minus figure in the upper hysteresis entry?"
Because of the inertia of the heating sometimes setting the upper threshold to 0 is not enough.
It would be nice if the upper hysteresis would accept a minus figure to stop the temperature over running in these situations.

[2019-02-28 17:36] ulfh2018 commented on #16
Would love to have that functionality. Just what I need for my project!
Good luck - this node looks greate!

[2019-03-02 05:42] daimoniac commented on #16
I think that pushing in the calendar would be a great addition. At the moment, you cannot really use this widget in a subflow because of that restriction.

[2019-03-02 08:07] ulfh2018 commented on #16
Yes, but I hope that the calendar will be accessible from the desktop, and not via Google Calendar, since there are a lot of people that doe's not us it. I think it would be enough to have access to a general week that is not associated with any particular week in the year.
I have started making an application to control heating at my son's apartment. The electricity in Norway is very expencive fo

[2019-03-02 16:58] WoMec commented on #16
It would be nice to have something like this (Wolf Smartset app)

![image](https://user-images.githubusercontent.com/7909801/53684965-8619f880-3d14-11e9-82dc-82407b7b7162.png)

[2019-03-02 21:32] SergiuToporjinschi commented on #16
@WoMec  looks nice, but is not sow easy to do.. let's not forget that there are a lot of restriction, basically I have done a plugin to an app ... probably there will be a lot of restrictions.
And in your picture I cannot see how the intervals can be added and set the temperature for each interval.
some sliders are already in angular material
https://material.angularjs.org/latest/demo/slider
but t

[2019-03-03 07:04] ulfh2018 commented on #16
Would it be possible to add an input parameter that could change the calendar json? Then I can do the rest myself

[2019-03-03 20:22] SergiuToporjinschi commented on #16
@ulfh2018 if you implement it, and create a pull request, I would review it and merge it

[2019-03-04 13:34] ulfh2018 commented on #16
Sergiu – I'm sorry but I'm not a programmer, so I was thinking about trying to use standard Nod-Red plugins to get information I can format to a jason string, but then I need an input parameter to your node that will be able to change the values in the json string you are using. Don't even know if this is possible to implement.

Best regards

Ulf

Fra: Sergiu Toporjinschi [mailto:notifications@git

[2019-03-05 16:58] SergiuToporjinschi commented on #16
@ulfh2018 I understand, I will do the change, is possible, but you have to wait.
Thank you for understanding!

[2019-03-13 21:32] SergiuToporjinschi commented on #16
Check latest version and let me know how is working

[2019-03-13 21:32] #16 closed

[2019-03-13 21:33] SergiuToporjinschi commented on #18
@rmtucker Please, check the latest version and let me know how it's working

[2019-03-13 21:33] #18 closed

[2019-03-13 21:33] #17 closed

[2019-03-13 21:35] SergiuToporjinschi commented on #12
@HanSolo72  is already outputting the inserted values but is outputting the entire set.
{"currentTemp":23,"targetValue":22,"isUserCustom":true,"currentSchedule":{"temp":22,"day":"Wednesday","time":"16:40"},"nextSchedule":{"temp":19,"day":"Wednesday","time":"23:59"},"currentHeaterStatus":"off","userTargetValue":22}
check also the schema from the bottom of the readme file.

[2019-03-13 21:35] #12 closed

[2019-03-14 16:20] ulfh2018 commented on #16
Hi.
Downloaded latest version, which looks nice. I have downloaded the test flow, and there might be things I don't understand, but when I try to change the calendar values (for example Monday 00:00 which have a value of 99, I cannot see that anything changes.

Best regards
Ulf

[2019-03-14 16:32] ulfh2018 commented on #16
I have just upgraded to 1.0.2

Sendt fra min iPhone

[2019-03-14 16:55] SergiuToporjinschi commented on #16
@ulfh2018 the latest version is 1.2.1
you need to send a message with topic  ```setCalendar``` and needs to be JSON type not String representing a json
![image](https://user-images.githubusercontent.com/9376439/54375978-ba81a300-468a-11e9-89f8-445d149e424c.png)

[2019-03-14 18:38] ulfh2018 commented on #16
Does this mean that your example does not work? I copied the code, then I sent Current temp, which worked, so I sent setCalendar, and that did not change anything in the calendar. Monday was still set up with 99 degrees at 00:00. I used your sample code, not anything I had written myself

Fra: Sergiu Toporjinschi [mailto:notifications@github.com]
Sendt: 14. mars 2019 17:56
Til: SergiuToporjinschi/

[2019-03-14 18:41] SergiuToporjinschi commented on #16
@ulfh2018 Are you using 1.2.1 version?

[2019-03-14 18:42] ulfh2018 commented on #16
Yes, I am

Fra: Sergiu Toporjinschi [mailto:notifications@github.com]
Sendt: 14. mars 2019 19:42
Til: SergiuToporjinschi/node-red-contrib-heater-controller
Kopi: ulfh2018; Mention
Emne: Re: [SergiuToporjinschi/node-red-contrib-heater-controller] Changeable Calendar by message (#16)

@ulfh2018 <https://github.com/ulfh2018>  Are you using 1.2.1 version?

—
You are receiving this because you were men

[2019-03-17 05:00] thucar commented on #6
I'm having this issue as well with Node-Red version 0.18.4, Dashboard version: 2.14.0 and Heater controller version: 1.2.1

After I add the node to a flow, assign all variables, including a group, it never appears on the dash and this is what I see in my debug window:
`TypeError: Cannot read property 'push' of undefined`

[2019-03-17 17:27] mhxsol opened #19 "Node red UI Widget shows HTML / JSON output"
I use Node-RED together with Home Assistant.
After te last update of Node-RED 1.4.0 the heater widget on the UI of Node-RED shows the code.
After scrolling (a long way) down I find the widget. See screenshot below.
![image](https://user-images.githubusercontent.com/36034237/54495205-18f48e80-48e2-11e9-8f3f-02217c48d515.png)
Do you have any idea how to fix this?

Thanks in advance.
Marco

[2019-03-18 11:05] SergiuToporjinschi commented on #19
@mhxsol node-red 1.4.0?!!? I never had that version ..... I'm using 2.0.2 now;
I can see that calendar icon is red, I think that is read because the calendar is missing. To be honest I did not test it without calendar, because I think is mandatory. Or at least should be. I think either way you should not have the code displayed.
Nevertheless, I did not supported 1.4.0 and I don't plan to do it :)

[2019-03-18 20:45] mhxsol commented on #19
Thanks for the quick response.
Apparently hassio is missing with version, version 1.4.0 of Node-red in hassio was version 0.20.0.
I just updates to node-red version 0.20.2 (so the same version), but error remains both in chrome and safari (on osx).
Console give several error.
![image](https://user-images.githubusercontent.com/36034237/54562169-ba551080-49c6-11e9-8e1a-46506857fbd4.png)

Hopefully y

[2019-03-23 21:53] VanillaFord opened #20 "not working with latest node-red version 0.20.3"
tried the test flow on various, fresh docker images.
This works fine with node-red versions 0.20.2-v8 and 0.20.2-v10 but not with version 0.20.3 (latest, v8 and v10).
The dashboard will simply claim, that there are no nodes deployed

[2019-03-24 20:12] mhxsol commented on #19
Hello Sergiu,
Today hassio released a new version of node-red (V0.20.3) and the problem is solved.
So probably a bug in de UI of node-red, but problem is fixed.
Thanks anyway for the support and your very nice node-red contribution heater-control for.

[2019-03-25 08:29] #19 closed

[2019-03-25 09:46] SergiuToporjinschi commented on #20
@VanillaFord  I will take a look on this. I did not updated the node red to 0.20.3 yet. Because I don't have a computer yet. I've ordered other pc so only next week I can take a look on this. but there is another ticket #19 that say is working on 0.20.3

[2019-03-25 10:59] VanillaFord commented on #20
yes, I also did see that ticket...don't know if there is interference/dependencies introduced with hassio.
This is what I did in order to re-produce the problem:

- fresh install of node-red
- install node-red-dashboard
- install node-red-contrib-heater-controller
- create new/1st flow from your supplied testing schema

tested with linux/x64 (kernel 4.14.49) and docker engine (17.09.1-ce) using or

[2019-03-27 06:59] FlorisHigh3IT commented on #20
I can confirm that the heater controller is not working anymore in nodered version 0.20.3
Running in docker this is the error:

TypeError: args[0].indexOf is not a function
    at Object.red._ (/usr/src/node-red/node_modules/@node-red/registry/lib/util.js:99:21)
    at new getNode (/data/node_modules/node-red-contrib-heater-controller/heater-controller.js:25:32)
    at Object.createNode (/usr/src/

[2019-03-27 08:25] SergiuToporjinschi commented on #20
@FlorisHigh3IT @VanillaFord  can you take a look in your installation folder in file frontEnd.js if you have
the line `delete config._flow;` in init function? maybe something has been cached.
if is not there then something went wrong and you do not have the latest version.
if you have it and still have that error can you remove
the line `node.error(RED._(error));`  from try catch from heater-contr

[2019-03-27 09:25] FlorisHigh3IT commented on #20
Hi, the delete config._flow is in the init function.

This is the output after removing the line from catch:

27 Mar 10:17:55 - [info] Starting flows
TypeError: Cannot delete property '_flow' of #<Object>
    at Object.module.exports.init (/data/node_modules/node-red-contrib-heater-controller/frontEnd.js:3:2)
    at backEndNode.getWidget (/data/node_modules/node-red-contrib-heater-controller/backE

[2019-03-27 09:47] SergiuToporjinschi commented on #20
Thank you! @FlorisHigh3IT  that's a very good info; if you want you can remove the delete line from front-end... and try it like that, I still don't get it why and when it has the _flow  property.... I will find a way to solve this once for all. I think I will be able to take a look later today.

[2019-03-27 09:52] SergiuToporjinschi commented on #20
ohh, removing the delete line will not work, because is running in strict mode... I need to extract only the properties that I need in frond end and pass only those. I will fix this.

[2019-03-28 21:24] SergiuToporjinschi commented on #20
Hi @FlorisHigh3IT @VanillaFord , I just made new release. Can you try it again on version 1.2.2? and let me know if is working.
Just make sure is version 1.2.3.
Thank you!
Have a nice day!
Sergiu Toporjinschi

[2019-03-28 22:24] VanillaFord commented on #20
Yep...tested with 0.20.3 and v1.2.2 of your addon....works fine now!
Thank you for fixing it that fast!

[2019-03-29 08:09] FlorisHigh3IT commented on #20
Yes, works. Thanks for the fast fix!

[2019-03-29 11:13] SergiuToporjinschi commented on #20
I'm glad to hear that! :)

[2019-04-01 07:06] FlorisHigh3IT commented on #20
Sorry but now detected that the planning is not working anymore, and my Docker container crashes at random times with the message:

1 Apr 08:57:45 - [error] [ui_heater_controller:Thermostaat] TypeError: Cannot read property 'hasOwnProperty' of undefined
at addField (/data/node_modules/node-red-dashboard/ui.js:220:45)
at getNode.<anonymous> (/data/node_modules/node-red-dashboard/ui.js:239:13)

Did

[2019-04-01 09:49] SergiuToporjinschi commented on #20
@FlorisHigh3IT  today is April fool's day.... hmmm I should consider it a valid one or not ....

[2019-04-01 19:51] CopyCat73 opened #21 "Function of calendar schedule in node setting"
I really appreciate your work on this and have a question about the calendar. There is a calendar in the node itself, and I can inject one using setCalendar. If I inject one, the calendar in the node settings does not change, but in the debug I can see the current schedule has changed to my injected one. So I tried to remove the calendar json in the node itself, but then it is not configured corre

[2019-04-01 20:58] SergiuToporjinschi commented on #21
Hi @CopyCat73, thank you for feedback.
I don't think is possible to change the calendar from the settings with a message from an input I think are quite separated things. But I will keep this ticket open to do some more research on this.

[2019-04-08 08:25] FlorisHigh3IT commented on #20
Hi, sorry for my late reply. I was on a business trip.

The controller itself works, but the planning does not. It shows the correct times and temperatures but it never changes temperature according to the planning.

I never had the message "TypeError: Cannot read property 'hasOwnProperty' of undefined" before.

@VanillaFord is your planning functionality working properly?

[2019-04-08 08:30] VanillaFord commented on #20
...only checked that the dashboard would show fine, I must admit. Not using the node right now, as I needed more flexible scheduling and trigger behaviour for my project, sorry.

[2019-04-08 22:25] SergiuToporjinschi commented on #20
I will check that

[2019-04-28 15:31] waako commented on #21
I was just fiddling with this as I wanted ability to turn heating off, or at least set targetTemp to something low like 10ºC as alternative to Off.

The heater controller does register the new schedule (injected using an switch button), however:
* On Dashboard it doesn't update current target value or current/next calendar values.
* If you double tap/click target temp then it updates values.

Idea

[2019-05-09 23:21] HellGL opened #22 "Double click to reset to calendar on iPhone"
Hi,
is there a way to make the double click to reset to current calendar value work on the iPhone? On most mobile devices double tap zooms in. Maybe a single tab on the current calendar value?

Cheers,
HellG

[2019-05-09 23:32] #22 closed

[2019-05-09 23:32] HellGL commented on #22
Just saw that it is also possible to just swipe left or right over the value... Sorry..

[2019-05-10 06:29] SergiuToporjinschi commented on #22
@HellGL  yes you can swipe and will rest the value

[2019-05-22 09:01] trippled1993 commented on #6
If someone with the same problem sees this thread:

 I got the same Error
`TypeError: Cannot read property 'push' of undefined`
in my debug window, in combination with
`Error: Cannot find module 'node-red-dashboard'`
in the node-red log.

**Solution:**
Restart your Node-Red installation after fresh install of the modules.
Without a reboot the module "node-red-dashboard" was not found.

[2019-05-24 10:43] SergiuToporjinschi commented on #6
@trippled1993 maybe that's the reason for which I cannot reproduce it :) i'm always restarting node red after installation of a node.

[2019-06-01 06:18] mrillies opened #23 "Suggestion: Cooling option"
Hi, This widget looks quite powerful and well built.

It would be nice to have a cool or dual output function, making it similar to software version of an STC-1000.

From what i can see would only require a second output (or an additional message so as not to break current compatibility) and a second set of hysterisis values.

Thoughts or best to fork this to a seperate project?

[2019-06-03 20:13] SergiuToporjinschi commented on #23
Hi, sorry for the late response...
Let me see if I understood. You want, basically to set a temperature interval and keep the temp in that interval. Let's say you put an upper limit and a lower limit.
Low: 20 and High; 25
and if the current temperature is 18 then turn the heater on and the cooler off;
if the current temperature is above 25 like 28 then turn the cooler on and heater off;
if the cur

[2019-06-04 05:15] mrillies commented on #23
More like two back to back hysterisis.

Set point 20deg

Heat Hyst off= 1
Heat Hyst on =2

Cool Hyst off= 0
Cool Hyst on = 2

Start 20
Drop to 18 - heater turns on
Raise to 19 heater turns off
Natural rise to 22 cooler turns on
Drop to 20 cooler turns off

Basically it’s just a second copy of the hysterisis but inverted, and maybe
a parameter for “dead time” so it dosent switch on heat and cool to

[2019-06-04 18:00] SergiuToporjinschi commented on #23
I understood you want to have a single temperature and not an interval like I described.
and with hysteresis. I would go on intervals like I proposed first time but with hysteresis for not killing the cooler and the heater.  And I would go like this because I see it more flexible and I think would work for you too if you are setting both low and high on the same value. I think;

The problem is tha

[2019-06-04 18:19] mrillies commented on #23
Yeah I very much like your complete implementation, having two seperate
widgets is not ideal.

Based on your plans I will just fork and quick hack your current
implementation and come back to this later :)

Thanks for taking the time to discuss :)

On Tue, 4 Jun 2019 at 20:00, Sergiu Toporjinschi <notifications@github.com>
wrote:

[2019-06-04 18:33] SergiuToporjinschi commented on #23
aa no problem, be my guest :) yah maybe I can merge it ...

[2019-09-08 14:09] jssystemcz opened #24 "TypeError: Cannot read property 'push' of undefined"
Hello, I used heater-controller before and everything was fine. Now I installed on a new RPI and unfortunately in debug writes an error and does not work.
Tested versions of node red: 0.20.7 and 0.17.5
BUG: TypeError: Cannot read property 'push' of undefined
Thank you for your help

[2019-09-27 07:52] thucar commented on #24
This seems to be a long persisting issue that has been eluding @SergiuToporjinschi

I just updated my installation to the latest version, restarted the computer and am still getting the same old error message.

`TypeError: Cannot read property 'push' of undefined`

[2019-10-07 16:15] antst opened #25 "suggestion: Auto temperature"
It would be nice if there were way to force back to "auto" temperature from the schedule.

[2019-10-08 06:48] SergiuToporjinschi commented on #25
@antst  actually it is, Double click or double tap the temperature (the big number)

[2019-10-09 16:30] jssystemcz commented on #24
Hello,
after update to node-red 0.20.8. it´s all ok.

[2019-10-09 19:01] SergiuToporjinschi commented on #24
Hi @thucar, sorry for late response, I'm working on some other projects...
I've heard about this but is a problem but I could not reproduce it at all ...

[2019-10-10 15:16] fromCologne commented on #25
@SergiuToporjinschi your node is excellent.
Is it possible to reset the Auto mode by a message?
Send msg.payload.isUserCustom = false doesn´t work.

[2019-10-10 20:30] SergiuToporjinschi commented on #25
@fromCologne No is not possible, but I will come back to this project soon and I can implement this.

[2019-10-19 13:28] Jeins98 opened #26 "OnSlider_Release event"
Is there any way to get the targetValue after the slider released? I want not to getting values while the slider is moving

[2019-10-20 19:56] SergiuToporjinschi commented on #26
@Jeins98 for me is doing this, if you put a debug after it you will see that is sending the value only when you are releasing the mouse button.

[2019-10-20 19:58] SergiuToporjinschi commented on #26
[code]
userTargetValue

[2019-10-22 07:10] #26 closed

[2019-10-24 07:07] HellGL commented on #25
Double tap doesn't seem to work on my iPhone. When I scroll through my controllers I often accidentially move the slider and change the target temperature. Double tap on the target temperature does not work and I need to set it back with the slider. Would it be possible to reset the target value whenever changed from locked to unlocked? Otherwise I will just add a button to reset a single or all h

[2019-10-25 20:40] SergiuToporjinschi commented on #25
slide it,  it should work on doing a slide to right or to left;

[2019-10-25 20:41] SergiuToporjinschi commented on #25
@HellGL  I don't have an iphone, I hate Apple :)

[2019-10-31 09:11] floxboy opened #27 "minimal temperature"
Is it possible to set the temperature below 10C?
maybe you just need to change the variable in one of the files?
I need to burn the basement, and it makes no sense to keep 10C there, 5C is enough

I made a translation into Russian of the node and frontend. where can I send?

[2019-11-01 03:28] floxboy commented on #27
Sorry, I figured out how to set the temperature below 10C

but also double click on the iphone does not work. and the slider moves while scrolling. It is very uncomfortable.
but your thermostat is wonderful! thanks for good job!

[2019-11-02 22:11] zoltantakacshu opened #28 "suggestion: take isUserCustomLocked from input msg"
To allow full control of the node from the incoming message - allow to send the isUserCustomLocked from the input msg.

[2019-11-04 10:07] SergiuToporjinschi commented on #27
hi,
yes double click on heater node in admin, and set slider min and max value :)

[2019-11-04 10:07] SergiuToporjinschi commented on #27
unfortunately, I don't have an iphone but once I will get one I will see what I can do

[2019-11-04 10:07] #27 closed

[2019-11-05 16:00] FlorisHigh3IT opened #29 "Problem after upgrade to NodeRed V1.0.2"
After the upgrade the thermostat stopped switching temperatures on the configured times. It shows the correct times and temperatures according to the scheme. But nothing happens.

I cant find any errors in the log or debug window.

[2019-11-06 12:09] FlorisHigh3IT commented on #29
After 2 days controller started working again, no clue why..

Closed the issue!

[2019-11-06 12:09] #29 closed

[2019-11-07 08:21] SergiuToporjinschi commented on #29
@FlorisHigh3IT mhhh, that's strange... I will update my node-red maybe I will reproduce it

[2019-12-03 15:53] Vinisz opened #30 "Does not fire on schedule"
Hi,

Running node-red 1.0.2.
The node does not "fire" on schedule.
All settings look right and if I doubleclick once in the schedule, it does fire and starts heating.
Can you look into this ?

[2019-12-03 15:55] Vinisz opened #31 "UsertargetValue not working"
When I send a payload as described to change the temperature, nothing happens.
I tried with the correct topic and some other things, but not working.

{
    "topic" : "userTargetValue",
    "payload" : "20.0"
}

[2019-12-04 09:38] ivanovlk commented on #30
Hi Vinisz,

I think node triggers schedule check on input message arrival.
So if no Input messages, no "fire" :)
Usually input message is "currentTemp" topic from a sensor or something.

I'm on 1.0.3 and it works just fine :)

[2019-12-04 09:43] ivanovlk commented on #31
Hi Vinisz,

I think node triggers schedule check on input message arrival.
So if no Input messages, no "fire" :)
Usually input message is "currentTemp" topic from a sensor or something.

if no currentTemp topic is received userTargetValue will only update the dashboard.

[2019-12-07 15:06] krja1012 commented on #25
+1

[2019-12-10 23:18] baha00 opened #32 "Not Working on node-red 1.0"
hi, its not working with node-red 1.0

[2019-12-11 11:29] Vinisz commented on #31
Hi @ivanovlk , just checked this and confirmed, it indeeds only fires on message arrival.
I can live with that (just configured my sensors now to send report every 15 minutes, even if there is no change...)
I think however it is better if at schedule time the module would check the temp at that time...

[2019-12-11 11:29] #31 closed

[2019-12-11 11:29] Vinisz commented on #30
@ivanovlk , same as the other issue, clear... I will close this one..

[2019-12-11 11:29] #30 closed

[2019-12-15 13:16] ahmaddxb commented on #23
What part of the code would need to be changed in order for this to work for cooling. I want it to turn on when the temperature is higher then the target value rather than lower as it work now.

[2020-01-06 18:11] Vinisz commented on #25
+1, need a way to put the the program back to "auto"
use case : go to manual, lower temperature when a window is open and resume to auto-schedule when window is closed.

[2020-01-09 09:31] ravensergio opened #33 "suggestion: 0.1 increment in Hysteresis"
I would like to set the hysteresis in .1 increments instead of 0.5. Is this possible? For Example, at set temp of 22.5 i would like it to start at 22.0 and stop at 22.8 , because 23 is already too much and it takes too long to get there. Also 22.5 is kinda short. I tried using by setting it manually the Upper to 0.3 , but is with red and as i don't know if it is working.
Thank you for this, otherw

[2020-01-12 19:23] ravensergio commented on #25
+1 i also need a way to go back to "auto" via an input.
I'm trying to implement the heater in Home assistant as a  mqtt HVAC , the only option i'm missing is the "get back to auto from isUserCustom", so i cannot undo my user set temp, just wait until next schedule.

[2020-01-13 14:29] ravensergio commented on #25
I found a partial resolve to resetting the temperature to "Auto". Just get the output from this heater node, then extract the current schedule ("msg.payload.currentSchedule.temp") , then send it to the heater input as (userTargetValue).
What it does, is basically resetting the temperature to your current calendar .As I said, it is a partial resolve, because with this mode you CANNOT set the LOCKED

[2020-01-16 10:02] SergiuToporjinschi commented on #33
Hi, Sorry for the late response
Just change the step in properties on that node.
![image](https://user-images.githubusercontent.com/9376439/72515149-0cb9c480-3858-11ea-94bf-bf1d6994209d.png)
![image](https://user-images.githubusercontent.com/9376439/72515153-10e5e200-3858-11ea-9672-e52167447631.png)

[2020-01-16 10:04] ravensergio commented on #33
Hi. Thank you for replying. I think you misunderstood me.
I was talking about the HYSTERESIS steps, not the slider ones.

[2020-01-16 10:05] SergiuToporjinschi commented on #33
@ravensergio Yes I missed HYSTERESIS word I reopened the ticket

[2020-01-16 10:11] SergiuToporjinschi commented on #33
@ravensergio  I just looked on the code, seems that I've set the step to 0.5 in html tag but in validation needs to be  >= -100 and <= 100;
Even if appears red should work with the value that you set. please try it and let me know.
Looking on it without testing and running seems that is just an interface problem showing the field as red because the step is set to 0.5.

[2020-01-16 10:23] ravensergio commented on #33
Alright i did that now. I've set the upper to 0.2 and I will monitor it today to see if it works. I will get back after that.
Thank you.

[2020-01-16 14:02] bburkett52 opened #34 "RESET bar and SIZE"
First of all, great job with this node! Very much appreciated!

I am using this node to control heat in my garage and it works well. The issue I have is that, on my iPhone, I am unable to "click" on display to reset a manual setting. I saw on another issue, posted here, that an image that showed a RESET bar on the node. I am using version 1.2.2, which I believe is current, and I do not have that R

[2020-01-16 16:19] SergiuToporjinschi commented on #34
Hi,
Is no reset bar. the reset can be done by double click, double tap the target temperature (big number) or by slide that big number to the right or left. Now the problem is, that is not working on IPhone. (un)Fortunately I'm not  a Mac user so I don't have any device to see what's happening.
When I will get one I will see, maybe I can fix that. I did not test it with the latest version I'm curr

[2020-01-16 16:34] bburkett52 commented on #34
Thanks for quick reply! I’m sure it’s a tough job to test with ALL possible devices!

Thanks again for all your work!

~Bob

[2020-01-16 16:34] #34 closed

[2020-01-16 19:51] SergiuToporjinschi commented on #33
@ravensergio  just a quick question ... I noticed that the title of your card is in romanian language. I've missed something or you are romanian?

[2020-01-16 21:05] SergiuToporjinschi commented on #32
@baha00  can you give me more details about this? because

[2020-01-16 21:05] #32 closed

[2020-01-16 21:53] #33 closed

[2020-01-17 07:34] ravensergio commented on #33
@SergiuToporjinschi Yes I am romanian. Also I've tested with 0.1 increment, regardless of the "red" warning in html, and it seems that is working. Thank you for your help and for this awesome node.
 If you noticed the https://github.com/SergiuToporjinschi/node-red-contrib-heater-controller/issues/25 issue, i've commented there how i changed the heater to act as a mqtt HVAC for Home Assistant, in o

[2020-01-19 13:20] SergiuToporjinschi commented on #21
@CopyCat73 I had a look on this. Unfortunately I cannot see a solution for this problem.
Because what you see in administration mode cannot be modified via an input message. or at least I could not find a way to do that.
@waako When a new calendar is received, with 'setCalendar', there you need to have already a 'currentTemp' if not, an exception can be seen in logs.
as you can see it in docs

Thi

[2020-01-19 13:20] #21 closed

[2020-01-19 13:21] SergiuToporjinschi commented on #20
this problem is still valid ? I cannot reproduce it, somebody can give me more details?

[2020-01-20 07:20] FlorisHigh3IT commented on #20
Sorry, I am not using the node at this moment, I needed more flexibele timing and "away for x days" functionality.

[2020-01-20 16:52] #20 closed

[2020-01-20 17:56] #28 closed

[2020-01-20 17:57] #24 closed

[2020-01-25 22:56] rhk opened #35 "Suggestion: UI element to identify heater / add heater name"
Awesome widget, I've been collecting same features on the MQTT dashboard on my phone, but this does all of it with just one NR node!

I control 6 heaters within the same dashboard. To be able to identify each heater controller in the dashboard it would be great to be able to add the heater name within the UI widget. Current solution requires a separate text widget.

@SergiuToporjinschi What do you

[2020-01-26 07:29] SergiuToporjinschi commented on #35
Hi @rhk , I'm glad that you like it :);
I think I will do it quite soon.
Nice suggestion, I will add it as optional.
Thank you for your suggestion!

[2020-01-26 10:48] olup commented on #35
Would love this too !

[2020-01-28 20:06] bgewehr opened #36 "I get "TypeError: Cannot read property 'push' of undefined" on deploy"
Need help to get started.

node-red 0.20.5 on docker Debian GNU/Linux 10.

Blank heating node added. Configured correctly as far as I can see. Hit deploy. Get error like above from catch node.

Just for checking here my calendar:

[code]

[2020-01-28 20:54] SergiuToporjinschi commented on #36
Hi @bgewehr
can you give me more details about the exception that you received ? like the stack ? the file and and the line number?
and you know 0.20 is quite old version... I've tested on 1.0.3.
And you say that is happening when you are deploying the schema?? are you sure that the error is generated by this node? a copy paste of the error stack would help.

[2020-01-28 22:01] bgewehr commented on #36
I will try a node red update tomorrow.

The error did not come from the catch node, it comes from the widget node itself:

![Image](https://i.imgur.com/McMunKA.jpg)

[2020-01-28 22:01] bgewehr commented on #36
More details after the update

[2020-01-29 08:19] SergiuToporjinschi commented on #36
ohhh so you do not have access to console? and set node-red debug log level.

[2020-01-29 12:25] SergiuToporjinschi commented on #35
Should be there now.

[2020-01-29 12:25] #35 closed

[2020-01-29 19:46] bgewehr commented on #36
Now on nr 1.0.3 - exactly the same behaviour. Then - after next restart:

![image](https://user-images.githubusercontent.com/4056277/73391506-68646300-42d8-11ea-9ef5-0aff2d374cb8.png)

Cool!

How to set the status manually?

[2020-01-29 19:59] bgewehr commented on #36
It would be interesting to have the choice whether the widget sends a single message like this

[code]

or a series of messages like
[code]
that would make it easier to react appropriately in different systems. Will try to do this by using a split node...

[2020-01-29 19:59] #36 closed

[2020-01-29 20:35] bgewehr opened #37 "moving the slider triggers a swipe"
The slider for the target-temp does not stop the horizontal mouse movement events from propagating so the dashboard page changes when swipe pages is "on".

![image](https://user-images.githubusercontent.com/4056277/73395166-399dbb00-42df-11ea-8720-2e4f9eb7cc2e.png)

Could you add

`event.stopPropagation();` probably?

[2020-01-30 12:59] SergiuToporjinschi commented on #37
Hi @bgewehr ,
Thank you for letting me know about this. But unfortunately, angular is not calling my function with the event;
So is not quite possible. This is quite ugly, but I have a good news.
In next release I've added an option to have buttons and not a slider, should resolve this. Plus that in safarii resetting the custom value is not possible, and new new interface will allow you to push a

[2020-01-30 13:08] SergiuToporjinschi commented on #36
yes you should swipe the slider .....

[2020-01-30 13:26] SergiuToporjinschi commented on #37
Here is a preview ;)
![image](https://user-images.githubusercontent.com/9376439/73453518-dbbbb280-4374-11ea-8c8f-f6f57c93e099.png)

[2020-01-30 13:32] bgewehr commented on #37
Cool! Personally I‘d prefer the details on the right but that’s just a personal taste.

Will you allow to edit the calendar via the widget? (It would be powerful to do that seperated and so to offer a generic weekdayplanner for all devices by just adding one to a group...

[2020-01-31 14:17] SergiuToporjinschi commented on #37
@bgewehr  I would like to, but unfortunately I'm quite restricted by dashboard ui;
I have other enhancement plan which I cannot finish due to this restriction; I wanted to have a button to open a dialog and display the logs (when the signal was send out from my node) and unfortunately I cannot open the dialog.  Because in angular I need to have control of how the controller is define, but in Dashb

[2020-02-01 08:21] zoltantakacshu commented on #8
Hi Sergiu,

I see in the latest release the changes are logged and even shown in the output. Additionally a new icon appeared in the UI "logs" - what I couldn't figure it out how is it working ...
How the UI part supposed to be working ?
What is the number of changes kept in the logs ?
Wouldn't be better if the logs would be sent in a different node output than the standard one ? (Just an idea - s

[2020-02-03 08:47] SergiuToporjinschi commented on #8
@zoltantakacshu can you see the button? this is not finished yet :) that button supposed to be not visible yet :). I wanted to create a dialog to display the logs but unfortunately is not possible without hacks so I'm planing to output as node message.

[2020-02-03 09:17] zoltantakacshu commented on #8
Yes, the button is visible if there are logs collected... And the logs are already in the the node output as well...
:)

[2020-02-03 09:22] SergiuToporjinschi commented on #8
yes I've tested now and I can see that, but I think I should output this as different message and not attached to the standard output

[2020-02-03 11:13] zoltantakacshu commented on #8
Great. the separate node output will help to build a chart based on the measured and set temperature.
Thanks!

[2020-02-04 19:18] bgewehr commented on #37
What about a lightbox like https://noelboss.github.io/featherlight/

[2020-02-05 16:28] SergiuToporjinschi commented on #37
@bgewehr hmmm I did worked with that but it could be useful. Thanks for the tip, I will take this in consideration

[2020-02-09 13:39] zoltantakacshu opened #38 "userConfig set control Locked - event the "isUserCustomLocked" is set false"
I'm still trying to retest all scenarios, how the control behaves, but it seems - if I send an "userConfig" message - the control UI sets "Locked" regardless the "isUserCustomLocked" value...
The node output shows the correct value what was sent to the input, but the UI is always locking itself and acting as shows on the UI = locked.

Control - before sending userConfig:
![1_control](https://user-

[2020-02-09 23:48] shortyishere commented on #23
Did we add this an option for it to switch heating or cooling or add it as one module? I would like the same

[2020-02-15 19:45] zoltantakacshu commented on #38
recreated the complete flow in a test environment - and running some tests there.... and it seems it is working there - as it should work ... so maybe some other error on my main device.
i will keep testing - and post the result...

[2020-02-18 17:57] ouinouin opened #39 "accessing UI blocks nodered since udate few days ago"
hi, i updated few days ago the heater controller, since this update nodered is very slow and also the context files get bigger and bigger . i dont have any starting point of what to do to troubleshoot this, nodered doesnt give me any error, just while accessing the UI, it nearly blocks all the other flows, making them very slow or unusable.

[2020-02-21 08:20] SergiuToporjinschi commented on #39
Hi, are you sure that is caused by this node?
what do you mean by "context files"?

[2020-02-23 14:02] ropske opened #40 "nothing visible"
Hi, i installed your node and used your test evironment.
But i don't get anything visual, its just blank.
I injected with the topic needed and a float temp

[2020-02-23 14:40] ropske commented on #40
sorry, it works after a node red restart, srry :)

[2020-02-23 14:40] #40 closed

[2020-02-24 18:34] devifast opened #41 "heater controler still work without sensor."
I noticed that after removing the connection to the sensor in node red, heater is still work.
after restart, too.
After restart shows the last temperature that was measured. This indicates that if the sensor fails, the controller will run continuously which is not a good option.
sorry for bad english.

[2020-02-24 18:44] SergiuToporjinschi commented on #41
Hi,
this is not a bug.
See the documentation

This controller accepts one main input which has to have topic as "currentTemp" and payload needs to be a float The entire control is not functional until this message is received The heater status is recalculated when this message received, or when the user is changing the target temperature.

so if it does not receive anymore any message with current

[2020-02-24 18:44] #41 closed

[2020-02-24 19:56] devifast commented on #41
AAfter removing the sensor physically, does the controller continue to operate?

[2020-02-24 19:58] SergiuToporjinschi commented on #41
What do you mean by removing sensor physically?
If you remove the sensor I suppose that the message with topic currentTemp is will not come anymore and this node will not send any other messages by it self, it keeps last received temperature so if you want to change the status lower the temperature from dashboard, and it will send the new status based on the new temperature set by you

[2020-02-24 20:28] devifast commented on #41
I mean that if the sensor gets physically damaged, it still lights a candle.
The cool thing is how to get around the calendar.

[2020-02-24 20:44] SergiuToporjinschi commented on #41
I understand, but I cannot make a difference if your sensor died or is just not the case to switch the status....
you can do this but adding a function node before this node, and if the sensor died, then send a message, with topic currentTemp and value +100;
this will make the controller think that there is enough heat and send the an off status;
or you can make that function node to send a simila

[2020-02-24 21:05] devifast commented on #41
I'm glad we think the same way, but in the absence of an inlet temperature the controller should be turned off at 100%. now i just pulled the sensor off the board and it still works?

[2020-02-24 21:06] devifast commented on #41
I use 18b20 sensor

[2020-02-25 07:14] SergiuToporjinschi commented on #41
Does not matter what sensor are you using.
What's the message that you are sending to this node when the sensor is pulled out,

[2020-02-25 12:48] devifast commented on #41
Мога ли да ви изпратя потока да го погледнете?

[2020-02-26 10:20] ouinouin commented on #39
Hi,
in nodered, the context of the flows can be stored either in memory or to disk :
https://nodered.org/docs/user-guide/context
I choose to have the context stored to disk for some flows to be stateful upon reboots.

the issue triggered once more yesterday, the normal context file for your node is as follows: `root@blacknuc:/var/lib/docker/volumes/node_red_user_data/_data# cat context/6aa448d.ec4

[2020-02-26 12:55] SergiuToporjinschi commented on #39
Hi, mhm, I understand, I have it also to save in file. But to be honest... I did not verified that file.
so why 30 sec ? you are sending messages once at 30sec? so is outputting this in the file when it gets a message? I do not do anything to save in the file I'm just calling the node.context.set function which ... is normal...

[2020-02-26 13:21] ouinouin commented on #39
hi, while you re using the context to disk in nodered, it flushed the context to disk every 30 seconds, thats why I mention the 30 seconds : https://nodered.org/docs/user-guide/context#context-stores

 since the restart of today, i see the context size increasing a little bit. the size on disk was 5.5kB at startup, now it is 33kB
`{
    "values": {
        "currentTemp": 20.33333333333333,

[2020-02-26 20:27] devifast opened #42 "After removing the sensor, the controller continues to operate."
After posting issue # 41, my topic was closed after two comments by the author. That is, the controller continues to operate in the absence of a temperature sensor (the sensor is missing physically). This controller behavior causes events that are not good for each user. Imagine stretching a cable with a sensor through your home and your dog biting it, or has the sensor itself come in time? What h

[2020-02-26 22:05] devifast commented on #42
At the risk of offending the author, the temperature in big numbers should be the current one and set in the mac section.

[2020-02-27 08:51] SergiuToporjinschi commented on #42
I cannot ensure the integrity of your network and your scenario cannot be detected by this node.
I cannot suppose that a sensor is not working if the message is not coming; you have to take care of receiving the message; letting this as it is you are deciding how often you are sending the temperature to server. if you want to read it only once each year does not matter. This  node will do one thin

[2020-02-27 08:51] #42 closed

[2020-02-27 09:10] devifast commented on #42
Thanks for the reply, I'll try to resolve the issue in another way. Greetings.

[2020-02-27 17:42] SergiuToporjinschi commented on #39
Hi, again:
did you looked here? https://nodered.org/docs/api/context/store/localfilesystem#options
there i found:

flushInterval | If caching is enabled, the minimum interval between writes to storage, in seconds. Default: 30

can you send me here the contextStorage setting that you have in settings.js?
!!!Remove or mask the path for security reasons; :)

currently I've activate it like this
[code

[2020-03-02 19:12] joergensen70 opened #43 "Remove Calendar"
I'm using the heater controller to set and control my floor heating system. For this system it doesn't make much sense to work with a heating schedule and I would like to disable it.
Is there any way to disable the calendar completely?

[2020-03-02 19:14] joergensen70 opened #44 "lock slide bar"
Is there any way to lock the slide bar to avoid that the temperature setpoint is changed by mistake? Using this flow on a dashboard leads into this problem. Trying to scroll is ending in changing the set temperature by mistake.

[2020-03-04 19:59] kressnerd commented on #43
As a workaround you could set the `userConfig` as [Input](https://github.com/SergiuToporjinschi/node-red-contrib-heater-controller#inputs).
[code]

[2020-03-04 20:18] SergiuToporjinschi commented on #43
@joergensen70  why would you need that?
you can set a temperature and lock it. that will keep the custom current temperature until you change it again.

[2020-03-04 20:19] SergiuToporjinschi commented on #39
@ouinouin  is still happening ?

[2020-03-04 20:21] SergiuToporjinschi commented on #44
There is an issue that I cannot fix, unfortunately. see issue #37

[2020-03-04 21:04] joergensen70 commented on #43
It's just not nice to waste place and having this calendar if never needed. It confuses...My hope was that there is a way.But great job. It's a nice flow.Von meinem Samsung Galaxy Smartphone gesendet.
-------- Ursprüngliche Nachricht --------Von: Sergiu Toporjinschi <notifications@github.com> Datum: 04.03.20  21:18  (GMT+01:00) An: SergiuToporjinschi/node-red-contrib-heater-controller <node-red-co

[2020-03-04 21:30] SergiuToporjinschi commented on #43
I understand your point of view. But I don't see the point of using this node without having a calendar.
Because, if you want a fix value each time you can have by using default nodes.
Or!!??! what part are you using from this node, if you are not using the calendar?

[2020-03-05 05:42] joergensen70 commented on #43
What I like most about your node is the design and having all data on the same node. The original nodes didn't look that nice. Used them before.I'm using your node to control a Homematic Thermostate. The calender is inside.I was looking for a nice node, showing humidity, set temp, current temp, heat state and switching between manual or auto mode. Your node is doing most of it and looks great.Rega

[2020-03-05 06:20] ouinouin commented on #39
Hi,
sorry for late reply
the issue still happens to me, i just came back home after one week away, system is nearly inoperant, the file has grown to 383mB.
as soon as i rm the file and restart nodered i gain control.
my contextstorage is same as yours :
[code]
i dont seem to have the log lenght in my ui version I use the version found in the palette of nodered (and i basically miss skills on npm s

[2020-03-05 08:29] SergiuToporjinschi commented on #39
I do not advice you to install an unreleased version, because currently I'm doing a major refactoring on it and most probably you will end up with a lot of bugs.

If you have the latest node-red then you can go in to upper right corner burger menu
choose manage palette, search for node-red-contrib-heater-controller, and you should have an update button.

![image](https://user-images.githubusercont

[2020-03-05 08:33] SergiuToporjinschi commented on #39
today I will set my local system with
[code]
and test it. But I think you have found a node-red issue because I think I tested with this setting and it was just replacing the content.
And want node-red-contrib-heater-controller version are you using ? because I cannot test all version against all settings... maybe I've done something wrong in a specific version

[2020-03-05 08:42] ouinouin commented on #39
Hi,
up to this morning i was using the version found in the palette : 2.0.1, basically if everything work i use only palette manager to make updates.
I think this has to do about the logging since the growing context file was full of "log" json entries.
I ll revert to 2.0.1 (but in 2.0.1 the log option is not available in the menus) , i ll also try to setup something to log the file growth.
rememe

[2020-03-05 19:32] holgerpieta opened #45 "TypeError: Cannot set property 'logs' of undefined"
Current NPM version (2.0.1) throws above error on node-red startup.
Maybe the error happens at other times, too, but I encountered it after restart.

I had a quick look into the code, but couldn't find an obvious culprit, but there have been a lot of commits since 2.0.1.

[2020-03-05 19:34] bburkett52 commented on #45
I am using version 2.0.1 with Node Red 1.0.3 and it is working great.

~Bob

[2020-03-05 19:53] Subnum12 opened #46 "option to disable internal logging required"
I like to have an option to disable logging.
The node values are stored to disk and for a single node > 200 MB are required.

May this is a bug as well. Example Output:

    "values": {
        "currentTemp": 22.88,
        "targetValue": 19,
        "isUserCustom": false,
        "currentSchedule": {
            "temp": 19,
            "day": "Thursday",
            "time": "16:30"
        },

[2020-03-05 19:57] theWaldschrat commented on #45
I'm running node-red 1.0.4, dunno if that's the reason.

[2020-03-06 06:31] SergiuToporjinschi commented on #46
Shoud be posibile by setting  length in log section to 0.

[2020-03-06 07:47] Subnum12 commented on #46
OK, but what log section?

![grafik](https://user-images.githubusercontent.com/33807364/76062994-12de3e80-5f87-11ea-9621-f8a109815ba9.png)

[2020-03-06 08:01] SergiuToporjinschi commented on #46
What version are you using ?

[2020-03-06 08:09] SergiuToporjinschi commented on #46
ooo no, I see what happens, you don't have that possibility .... hmmm that is a new feature which is not released yet... I need to organize myself better. I will think about this, and  I will find a solution this weekend I know what happens. On next release there will be a configuration to set the log length. Until then I will do another release based on the latest release and and this functionali

[2020-03-06 08:12] Subnum12 commented on #46
That's great, Thanks!

[2020-03-06 08:29] SergiuToporjinschi commented on #46
Is not quite so great when you have a bug like this :) but anyway, thank you for understanding.

[2020-03-06 08:32] SergiuToporjinschi commented on #39
@ouinouin  I think your problem is similar with this one #46 I will have a look this weekend and find a way to fix this.

[2020-03-06 08:36] Subnum12 commented on #46
I'm running node-red within a container, therefore I can only install with npm and I'm using last available version 2.0.1

[2020-03-06 19:36] SergiuToporjinschi commented on #46
Hi @Subnum12,
I just published a new version where you should find a configuration a "Logs" section there you should put Max length on 0 and should not do any logs anymore.
but keep in mind the fact that is not gone a remove the existing once so maybe setting this on 0 save and deploy, stop node-red, clear that file and start the node-red.
try it like this and there should be no issues anymore.
Th

[2020-03-06 19:37] SergiuToporjinschi commented on #46
Let me know if is working.

[2020-03-06 19:38] SergiuToporjinschi commented on #39
@ouinouin please see this https://github.com/SergiuToporjinschi/node-red-contrib-heater-controller/issues/46#issuecomment-595927340  I think is also solving your problem

[2020-03-07 15:14] Subnum12 commented on #46
That's working perfectly. Nothing stored anymore within the log section. Thanks for great assistance!

[2020-03-07 15:14] #46 closed

[2020-03-07 15:39] bburkett52 commented on #46
Sir

Are you saying the logging function is not actually working or do I misunderstand?

Where is the log file located?

Thanks for all you effort in this project! It is has been working very well for controlling the heat in my garage.  As the slider is tough to use on an iPhone, I have implemented two UI button nodes to set a temporary temperature and to reset to my default low temperature.

Agai

[2020-03-07 16:00] Subnum12 commented on #46
There is no logfile by default. The node internally logs updates & changes (within the RAM). However, if you follow the instruction from @SergiuToporjinschi above even internal logging can be disabled.

[2020-03-07 16:11] bburkett52 commented on #46
I do understand how to disable based on prior message. My question was if
logging is enabled where is the file saved on disk.  Are you saying no file
is created and the log is in RAM only?

I am curious to know what data is logged.

Thanks
~Bob

On Sat, Mar 7, 2020 at 11:00 Subnum12 <notifications@github.com> wrote:

--

[image: Weather Underground PWS KPASUMME3]
<https://www.wunderground.com/dash

[2020-03-07 20:29] zoltantakacshu commented on #38
The issue was caused by the isUserCustomLocked value I sent to the node was a string "true" instead boolean. I fixed, now works fine.
Closing the issue reported.

[2020-03-07 20:29] #38 closed

[2020-03-19 07:23] rhk commented on #5
I'm trying to implement something like this on smaller scale, to stop heating if for example the door is open for longer than 5minutes or I'm away or something.

I know I can set the current temperature with {"userTargetValue":"15"}

**However, is there a way to send a message imitating the UI double click action, that returns the current target to the scheduled target temperature?**

[2020-03-19 07:32] SergiuToporjinschi commented on #5
@rhk I'm refactoring this node, and I included this possibility, basically will be possible to do every UI action via a message.
I cannot give you an estimation when will be ready, because I have other things on other project to finish and I will resume the work on this.

[2020-03-19 08:03] aretakisv opened #47 "Scheduling not working for some reason"
It seems like scheduling is not currently working. Heater Is not posting payloads to change temperature. And this leads to a stuck thermostat

Running Version 2.0.2 of palette and nodered is 1.0.4 based on node 12
Docker image: 1.0.4-12-minimal-arm64v8

my subflow is:
[code]

I am using input from Zwave2mqtt and outputing to zwave2mqtt
The flow has some comparisons in order to avoid an "endless lo

[2020-03-19 08:36] SergiuToporjinschi commented on #47
Hi, the node will operate the status only when receives a new temperature value so you have to make sure that the new value is coming regular to this node.

[2020-03-19 08:39] SergiuToporjinschi commented on #47
you can find this in documentation

This controller accepts one main input which has to have topic as "currentTemp" and payload needs to be a float The entire control is not functional until this message is received The heater status is recalculated when this message received, or when the user is changing the target temperature.

[2020-03-19 09:36] aretakisv commented on #47
so, schedule will not work if there is no regular temperature update?

[2020-03-19 10:20] SergiuToporjinschi commented on #47
yes will not work you have to make sure that is getting at least a value on regular bases

[2020-03-19 10:21] SergiuToporjinschi commented on #47
I want to avoid having timeouts and send value out, because if there is a bug will not have any control on it, will keep send value and can look randomly.

[2020-03-19 10:22] #47 closed

[2020-03-19 10:24] SergiuToporjinschi commented on #47
In fact you are the second person that is asking for this behavior. You know!?!? I think I will set a ticket as a new feature. But  don't expected to soon .... I've started to refactor this and I would like to finish the refactoring. After that I will see if I can set something that can be configured to work like that.

[2020-03-19 10:25] SergiuToporjinschi opened #48 "Add option to send new value based on timeout"
see #47

[2020-03-28 09:47] odenisenko opened #49 "hysteresis calculation wrong"
from recalculateAndTrigger method
[code]
test-case

[code]

result
[code]

[2020-03-30 11:56] ma261065 opened #50 "Slider doesn't work on second tab"
If I put this control on any tab other than the default (first) tab, then when I slide the slider the UI jumps back to the first tab.

I then have to click the hamburger menu and go back to the tab where the control is actually displayed.

[2020-03-30 12:34] SergiuToporjinschi commented on #50
this is duplicate of #37

[2020-03-30 12:34] #50 closed

[2020-03-31 17:07] davebarrett1959 commented on #45
I believe it's because the CurrentTemp has not been set. As soon as this is injected it seems to stop this error.

[2020-05-10 11:31] maggiagg commented on #39
Hi
I can verify that the heater node is doing something very strange with memory and cpu.

Some background
- I have had similiar problem on node-red in docker under windows 10. There NodeREd ends up eating all heap memory with nodered chrashing. This is a vanilla installation of Nodered, saving context in memory. The ONLY non-standard node is the heater.

- On my raspberry 3, with context saved to

[2020-05-21 14:57] holgerpieta opened #51 "Non-optimal check for missing current temperature"
The node surprised me by stating that current temperature is not set (which also means that the slider is not movable), though I have been sure that it should have gotten one.
Turns out, the way "missing current temperature" is checked in frontEndSlider.html isn't optimal. It's done by "!msg.currentTemp", which will also be false when currentTemp is 0.
Which is the reasons why it didn't work for m

[2020-05-24 00:32] Medicalmusings opened #52 "Output object not always including payload.currentHeaterStatus"
Love your module. Exactly what I need.

Using your module to run an aquarium heater via a WIFI plug.
Im taking your current.HeaterStatus and converting to true/false that the wifi plug needs.
All working well.

HOWEVER

Your node, doesn't ALWAYS include payload.currentHeaterStatus in its output.

example 1: Seems if a new temperature comes in and the heater does not have to change state ie switch

[2020-09-27 15:24] UnclePhil opened #54 "Strange behavior ; not appearing in dashboard ui"
Hello,

I've a strange behavior with the whole last version of Nred, dashboard, and ui-heater
Nodered : 1.1.3
Dashboard : 2.23.4
ui-heater : 2.0.2

At deployement : receive some debug msg :
- "TypeError: Cannot read property 'length' of undefined"  ( no node tagged)
- "TypeError: Cannot read property 'push' of undefined" ( heater node tagged)

and heater ui does not appear in the dashboard.

But o

[2020-09-28 18:24] UnclePhil commented on #54
Found the problem .... in a reverse proxy cache system
who's not refreshing correctly even after a reboot

Sorry for this
best regards
Ph Koenig

[2020-09-28 18:24] #54 closed

[2020-11-14 18:51] benbamm commented on #16
Is there any news on this? I have also been trying to change the calendar through injecting JSON but I also can not get it to work...

[2020-11-21 08:08] akj00 opened #55 "FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
Hi,
I used your great node heater controller, bu now I think I found a bug, or at list a bad behavior.
I tested your node with this simple flow:

![Img 2020-11-21 085756](https://user-images.githubusercontent.com/40288108/99871050-d6677700-2bd7-11eb-8f16-446e24a9ebbd.png)

Injecting the currentTemp every 5 secs. If you slide for some time you get a crash of the rednode process and the log is at:

[2021-01-28 22:19] SergiuToporjinschi commented on #55
Hi @akj00, sorry for such long delay.
I would need a flow json to test it myself that would be much more east for me.
And if you can, would be nice if you can send me also the settings.js, but before, be sure you are removing any sensitive data, like passwords or port IPs etc.

[2021-01-28 22:24] SergiuToporjinschi commented on #51
Hi,
in **read.me** file:

the  currentTemp is the current value that you have, then this component will turn on and off the heater when the current temp will rich the target value that you are setting in front-end. This node does not have a thread, to execute the logic, is not checking all the time if the target is met. Is doing that only when a new message with a new currentTemp arrives.
Is this

[2021-01-28 22:26] SergiuToporjinschi commented on #49
Hi, It's possible, I will take a look. thank you for this scenario.

[2021-01-28 22:28] SergiuToporjinschi commented on #45
Hi and sorry for the  delay, but I'm working on this in my spare time.
Is this still an issue?

[2021-01-28 22:30] SergiuToporjinschi commented on #52
Hi, Sorry for delay but I'm working on this on my spare time.
For sure there are some bugs, I'm thinking to some major refactoring, I felt the need for having more control without interface.

[2021-01-31 14:02] akj00 commented on #55
Hi,
I attached the info you required.

[settings.js.txt](https://github.com/SergiuToporjinschi/node-red-contrib-heater-controller/files/5899861/settings.js.txt)
[HeaterTestFlow.txt](https://github.com/SergiuToporjinschi/node-red-contrib-heater-controller/files/5899862/HeaterTestFlow.txt)

[2021-01-31 14:42] SergiuToporjinschi commented on #55
Thank you for test data.
I will take a look on that, until then, can you try to put the logs max length on 0 ?
![image](https://user-images.githubusercontent.com/9376439/106387609-2edea000-63e3-11eb-9cf3-0f5766c6340b.png)
I'm thinking if you are sending too many messages each day can get quite big and I see that in settings you have
contextStorage in memory

[2021-02-01 07:57] akj00 commented on #55
Hi,
Since 21 Nov I upgraded the system and now am running with:
nodejs v12.20.1
Node-RED version: v1.2.7
Node.js  version: v12.20.1

As you suggested I tested setting "Max Length" to 0, the problem **does not** arise. Anyway when I put to 1, and I try to slide the temperature up and down after few seconds a have a crash as described in first message.

After this and with  "Max Length" set to 1 i c

[2021-02-01 11:36] SergiuToporjinschi commented on #55
I was thinking that the logs can cause trouble because it saves some infos and this nod is reacting on currentTemp message if it comes very offen then can be quite long; whats the interval in which currenttemp is sent to heater node, by the way ?
it's crazy with so many errors if it works for you and do not need context storage as local let it commented.
I'm currently doing a heavy refactoring on

[2021-02-02 15:49] akj00 commented on #55
which currenttemp is sent to heater node, by the way ? In this Test flow as you should see is every 5 secs. But in my IOT project was sent less often, in fact the crash did not come out so quickly. Anyway I will wait for the new release to use again your great Heater node!
Thank you for the help

[2021-02-02 16:46] SergiuToporjinschi commented on #55
You will have to wait for a while :(. I can work on this only after "I'm Back from the office" (quotes because I'm working from home ... quarantine.... ) and in the weekends but I'm allocating as much time I can on this.

[2021-02-11 12:27] #37 closed

[2021-02-18 16:21] SergiuToporjinschi commented on #48
This is solved in the next version.

[2021-02-18 16:21] #48 closed

[2021-02-18 16:28] SergiuToporjinschi commented on #33
Looking now on this screen shut and I like your colors. What I don't like is that colors from my node is not matching  those, Can you tel me how did you set the that orange color? because I noticed that Dashboard is giving me some theme colors but I don't know which is that. I can use those values and then you will have a matching design.

[2021-04-14 18:12] holgerpieta commented on #45
Looks like it's fixed, so let's close this.

[2021-04-14 18:12] #45 closed

[2021-04-14 18:24] holgerpieta commented on #51
Oh, sorry, didn't notice that you answered.

I haven't encountered the problem again, because I limited my temperature values to >= 1, so the =0 case doesn't happen anymore. But given that the NPM version hasn't been updated since more than a year, I do not think the problem has been fixed. Maybe it has been fixed here in the repository, but I haven't tested that.

The problem is that the check fo

[2021-07-12 20:19] SergiuToporjinschi commented on #51
Oh, sorry. Is summer now and I did not used it for quite a while now.
But, I had a complete refactoring of this but is not published yet. Is quite finished at least I know that is fully functional but I just not published in NPM. In Git is on branch Refactoring, if you want you can give it a try.

[2021-08-18 13:29] pomplesiegel commented on #43
Thank you for making such an awesome node to solve a common problem!

I would also be interested in a version of this node without the calendar functionality visible or running. It's a great node for simply controlling and showing the current value of a heater, instead of building your own UI and functionality with a PID and off-the-shelf UI nodes. However, I have no use for the calendar functiona

[2021-08-29 07:39] debouttek commented on #43
Great work.
+1 for a version without the calendar function

[2021-09-05 12:39] rhk3 opened #74 "Upgrade to 3.0.0 / fail"
It looks like that new version has been released, YAY!!!

I immediately pushed 'upgrade' and faced this:
![kuva](https://user-images.githubusercontent.com/90139717/132127037-9a7bed37-a99c-4d06-83ba-a8803fd86504.png)
and the node then disappeared breaking my flows.

I was manually able to remove 3.0.0 and after some challenges also was able to reinstall 2.0.2

Waiting for input / new version before

[2021-09-05 13:31] SergiuToporjinschi commented on #74
Hi sorry for that,
I did not checked it on my raspberry, I just removed the version 3.0 from npm and from flow.node-red.
I'm working on it.

[2021-09-05 15:34] SergiuToporjinschi commented on #74
Please do not install the new version yet. I will let you know when is ready. I think is related to ECMA6 and probably you will need to update the nodeJS and npm version. By the way what's nodejs version ? I had the same error on 10.x but I developed on 12. now I'm trying with 16 (latest)

[2021-09-06 03:10] rhk3 commented on #74
rhk@ripapi:~ $ node -v
v10.14.2
rhk@ripapi:~ $ npm -v
6.5.0

node-red version  v0.19.5

[2021-09-06 03:17] rhk3 commented on #74
Related or not, while trying to downgrade to 2.0.2 these are the messages I got.

pi@ripapi:~/.node-red/node_modules/node-red-contrib-heater-controller $ npm install node-red-contrib-heater-controller@2.0.2
npm ERR! code ENOSELF
npm ERR! Refusing to install package with name "node-red-contrib-heater-controller" under a package
npm ERR! also called "node-red-contrib-heater-controller". Did you name

[2021-09-06 05:36] rhk3 commented on #74
Indeed I propably should upgrade my Raspberry, still running Stretch with old versions of.. everything..

[2021-09-06 10:53] SergiuToporjinschi commented on #74
Hi,
I think there you have a recursive naming "installing node-red-contrib-heater-controller in node-red-contrib-heater-controller" that's strange, you have to look in the .node-red/node_modules/node-red-contrib-heater-controller there should be direct list of files and not again node-red-contrib-heater-controller.
here is some gideline how to install latest version of nodejs and npm  on raspberry

[2021-09-06 10:57] #74 closed

[2021-09-06 11:42] rhk3 commented on #74
Awesome, thanks, I'll try later.

[2021-09-12 05:20] rhk3 opened #75 "TypeError: send is not a function"
Simple test flow
[{"id":"13fb24db.1b2f3b","type":"ui_heater_controller","z":"b166f006.6ebf68","name":"heater","group":"13ed72f6.2c18e5","unit":"C","displayMode":"buttons","order":5,"width":6,"height":4,"topic":"tempTopic","title":"Heater","logLength":0,"sliderMinValue":10,"sliderMaxValue":35,"sliderStep":0.5,"threshold":0.5,"calendar":"{\n    \"Monday\": {\n        \"00:00\": 19,\n        \"06:20\

[2021-09-12 06:10] rhk3 commented on #75
Upgraded to node-red 2.0.6 and seems to work better, I still need to learn how to build a proper userconfig / userTargetValue object..

[2021-09-12 06:10] #75 closed, assigned to nobody

[2021-09-14 06:20] SergiuToporjinschi commented on #75
there are some example schemas here
https://github.com/SergiuToporjinschi/node-red-contrib-heater-controller/blob/master/TestingFlows.md
in main page (code view) at the bottom of the page "Test schema"

[2021-09-24 14:25] ikidd opened #76 "userTargetValue no longer works"
Had a flow that would feed a userTargetValue on a button click.  Upgraded the control, now clicking a button gives an error "Error: Calling unregistered event: userTargetValue"

Removed node from palette and reinstalled, restarted nodered before and after reinstall, does not seem to fix.

[2021-09-27 07:04] fromCologne opened #77 "v3: how to send calender?"
Hi Sergiu,

with v2 I used this structure to send a calender to the node:
`
"topic" : "setCalendar",
"payload" : {
"Monday": {
"00:00": 17,
"06:00": 17,
"12:00": 17,
"18:00": 17,
"23:59": 17
},
"Tuesday": {
"00:00": 17,
"06:00": 17,
"12:00": 17,
"18:00": 17,
"23:59": 17
},
....
`

After migration to v3 this does not work anymore.
I tried to change to this structure, but no success.
`"topic" : "use

[2021-09-27 14:37] fromCologne commented on #77
Good news. The structure from v2 works in v3 too. After some reboots of the docker host and the nodered container.

Topic "calChange" is in your example but not in the code. It generates an error message.

[2021-11-09 12:19] Vinisz opened #78 "Dashboard layout too big"
Hi,

Thanks for building this.
In the last version, I find the layout (either using buttons or slider) way too big.
I have 12 heating zones to control and on the Ipad, it does not look very nice.
Any way to make it smaller ? (I think the old version was ok)

[2021-11-24 09:03] spedruzzo opened #79 "The heater doesn't return to schedule temp after calendar event"
condition:
1-user set temp to x
2 - calendar event set heater to y
3 at next room temperature sensor reading (topic.currentTemp) the temperature return to value x

the is locked is undefined but I tried also to set to false: same result

[2021-11-24 10:04] SergiuToporjinschi commented on #79
so it is locked then will keep the custom user temp as target. If is not locked then user target temp will be changed by calendar when the new change in calendar is comes up

[2021-11-24 10:05] SergiuToporjinschi commented on #77
what error is returning ? because for me works fine

[2021-11-24 10:06] SergiuToporjinschi commented on #76
lateste version requirements:
-Requirements for version 3.0.0:
-NodeJS: 16.x Minimum version 12.x
-node-red: 2.0.6 Minimum version 1.x

[2021-11-24 10:06] #76 closed, assigned to nobody

[2021-11-24 10:07] SergiuToporjinschi commented on #55
Released v3.0, so should not be the case anymore
-Requirements for version 3.0.0:
-NodeJS: 16.x Minimum version 12.x
-node-red: 2.0.6 Minimum version 1.x

[2021-11-24 10:07] #55 closed

[2021-11-24 10:08] SergiuToporjinschi commented on #52
A new version is released so please check with the latest version and reopen if is the case

[2021-11-24 10:08] #52 closed

[2021-11-24 10:08] SergiuToporjinschi commented on #51
The new version has been released, please check on latest version and reopen if is the case

[2021-11-24 10:08] #51 closed

[2021-11-24 10:09] SergiuToporjinschi commented on #44
The new version has been released, please check on latest version and reopen if is the case

[2021-11-24 10:09] #44 closed

[2021-11-24 10:10] SergiuToporjinschi commented on #39
The new version has been released, please check on latest version and reopen if is the case

[2021-11-24 10:10] #39 closed

[2021-11-24 10:22] spedruzzo commented on #79
Hi Sergiu thanks for reply, I made another quick test but still working in that strange mode:
1 - user set temp to x
2 - calendar event set heater to y (the slider still remain at x)
3 - at next room temperature sensor reading (topic.currentTemp) the setpoint return to value x

tell me where I can find some logs to help you (I solved by reset every hour by send a msg.payload={"isLocked":false,"isU

[2021-12-07 17:56] Cricri54 opened #80 "No value on deashboard"
Hi Sergiu
I installed the new version of node-red-contrib-heater-controller but the display is not working. I have no value on the dashboard just "calendar is missing". The heater-controller work but not the frontend.
My config :
  - Node-RED version: v2.1.4
  - Node.js  version: v16.13.1
  - Linux 4.19.0-18-amd64 x64 LE

Can you help me.

Thanks

[2021-12-08 06:33] SergiuToporjinschi commented on #80
Hi, Like this?
![image](https://user-images.githubusercontent.com/9376439/145160093-90bb2d2f-167e-409b-aa7f-51d0558d734d.png)
If is so, it means you did not sent the first current temperature message.
Please read the read.me file of this project.

[2021-12-08 20:53] Cricri54 commented on #80
Hi,
Yes like this. But i sent the first currentTemp. I have a temperature probe which periodically sends the value of the current temperature. The out is OK, but the display don't work.

Example of out :
{"currentTemp":20.1,"targetValue":22,"isUserCustom":false,"currentSchedule":{"time":"16:40","day":"Wednesday","temp":22},"nextSchedule":{"time":"23:59","day":"Wednesday","temp":19},"currentHeaterS

[2021-12-09 03:14] bburkett52 commented on #78
Hello!
I am seeing the same issue as Vinisz. I cannot properly size the dashboard to eliminate having a scroll bar. Previous version worked fine.

Thanks,
Bob
![Screenshot from 2021-12-08 22-24-39](https://user-images.githubusercontent.com/35471928/145329047-e8300869-3664-4842-8492-9f346694c125.png)

[2021-12-09 03:20] bburkett52 opened #81 "Dashboard layout size"
I see I am not the only user finding that the layout of the latest version does not properly fit the dashboard. On my application, I am getting scroll bars to use in order to see the entire display.

Are you aware of this?

Thanks for your great work!

Regards,
Bob

![Screenshot from 2021-12-08 22-24-39](https://user-images.githubusercontent.com/35471928/145329116-b9c2704d-ef0f-4960-951c-9c8b134c3

[2021-12-09 08:56] SergiuToporjinschi commented on #80
I see that you combined the currentTemp message with some  other ones. Can you try to separate them ? it might be a problem have them all in the same message. I will try to take a look on this but I cannot promise a deadline

[2021-12-09 08:57] SergiuToporjinschi commented on #80
Can you put here an input example?

[2021-12-09 09:00] SergiuToporjinschi commented on #80
and keep in mind, each time when the schema is deploy all retained information in the node are gone. So if you are looking immediately after deploy the last current temp has been lost, you have to wait for the next one. You can create your own logic to keep the last value stored and trigger an inject with that immediately after deploy/restart

[2021-12-09 09:12] Cricri54 commented on #80
My probe sends its value every minute but after a day still no display.

[2021-12-09 09:34] SergiuToporjinschi commented on #80
`{
    "topic" : "currentTemp",
    "payload" : 22.5
}`
are you sure that the entire message looks like this?
this should not be the payload should be the body of the message
you can disconnect all entries and try to add a insert node connected to the heater input. Deploy it and then push the button of the insert node

![image](https://user-images.githubusercontent.com/9376439/145370923-32d43bbf-1

[2021-12-09 09:45] Cricri54 commented on #80
I did the test but it still doesn't work.in output I have the values ​​but not on the display.

[2021-12-09 10:24] SergiuToporjinschi commented on #80
hmmm something is wrong, I would say on your side, but I'm not sure.
Can you create a new flow with the heater and the insert node bind  to the heater and then export the flow and attach it here?
this way I think I can debug it

[2021-12-09 10:27] SergiuToporjinschi commented on #81
Hi!
What size are you using?
can you try using buttons? maybe is more suitable for you? buttons are much convenient because sliding on mobile leads to page slide and not changing the slide controll
![image](https://user-images.githubusercontent.com/9376439/145379485-e67a5f57-c5fc-4eb6-862d-e685bb5061e8.png)
![image](https://user-images.githubusercontent.com/9376439/145380111-6dce4a0d-1e69-4cca-b0b

[2021-12-09 12:50] bburkett52 commented on #81
Size was set to "auto". Manually, I can only set size to maximum width of 6.

~Bob

[2021-12-09 17:27] Cricri54 commented on #80
A test's flow :
`[
    {
        "id": "c415f0a0e0873ef5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "39f02d0253e80d48",
        "type": "inject",
        "z": "c415f0a0e0873ef5",
        "name": "currentTemp",
        "props": [
            {
                "p": "topic",
                "vt": "str

[2021-12-09 18:25] SergiuToporjinschi commented on #80
![image](https://user-images.githubusercontent.com/9376439/145454062-a990fe61-6896-4336-9898-f0082503a370.png)
is working for me
I'm using node-red 2.0.6 what version do you have? did you tried on different browser? how is installed?
I don't know, you have to find some more info because is the first time that I get this issue nobody complained about this and I'm afraid I cannot help if I cannot re

[2021-12-09 18:47] Cricri54 commented on #80
My version of node-red is 2.1.4

[2021-12-10 18:25] Cricri54 commented on #80
I tried on another browser but still the same. i can't find some logs or error message.
Too bad, I would have liked to use this node.

[2021-12-11 16:18] bikefright opened #82 "Return of separate upper/lower hysteresis options?"
Firstly, excellent ui node!

This is an enhancement request, not a bug (actually a return of a previous feature from v2).

As per the title - I am currently using v2.02 with a plan to move to v3 (been testing on a node-red test instance) but one feature that I personally make use of is the ability to set separate upper and lower hysteresis values.

I use your heater controller node (one for each z

[2021-12-19 14:09] Vinisz commented on #78
any update on this ?

[2021-12-28 21:14] Bond246 commented on #81
Hello,

i also was a little confusing about the "unusual" layout-size of the widget.
So from my point of view i also would appriciate if the width of that widget would be a little smaller. On mobile (android, chrome) i need to scroll horizontal on sites with that widget. Not a really big thing but it is the first and the only widget i've seen that.
The target temp display is really big so i think

[2021-12-29 22:50] exlicite commented on #80
I have same issue with node-red v2.1.4 previous node-red version 2.0.4 have also same issue.
Node version is v14.17.3.

I not found log in node-red log.

It's same on Chrome and Safari browser.

[2021-12-30 18:17] MartinGris commented on #80
Same issue here. It occurs when using node red with https. See the browser console for detailed errors. It's a problem with the unsecure websocket endpoint.

[2022-01-01 10:36] exlicite commented on #80
After chrome debug, i found the mistake in my case.
Nodered with heater controller is behind reverse-proxy.
The websocket should have an explicite rule to proxy it.

I had this entry in my apache conf.
ProxyPass /heaterController ws://a.b.c.d:1880/heaterController
ProxyPassReverse /heaterController ws://a.b.c.d:1880/heaterController

[2022-01-01 11:20] MartinGris commented on #80
My solution was to change the protocol to 'wss' in nodes/heater/frontEnd.js line 42. I'm using https directly in node js and not via a reverse proxy

[2022-01-05 14:48] Subnum12 commented on #78
#81 same issue

[2022-01-20 08:46] sniicker commented on #79
Hi,

i have the exact same Problem. Look at the video.
I customise the temperature to 21°
At 09:38 the calender event set the target temp. to 19° - but with the next temperature input it sets back to 21°

https://user-images.githubusercontent.com/67097444/150303208-391cb276-cc6c-409f-9b38-e6d537da1572.mp4

Here's my test flow:
`[{"id":"617c980e0d753df1","type":"change","z":"e9b7f502.350988","name"

[2022-01-21 22:22] bleketas commented on #79
Hello,

same here. Reinstalled my nodered on new machine, updated to newest heater node, and i'm seeing same behavior as described above. If i hit "refresh" or "reload" button (the one with crooked arrow), only then it jumps back to scheduled temp.

[2022-01-25 12:26] Bond246 commented on #79
Thanks for that issue,

i thought that i made something wrong. But looks like i'm not the only one having that problem.
So in my case same problem. Would be nice if anyone finds a solution.

Thanks

[2022-02-27 18:17] Toreca opened #83 "Floor temperature check"
### Feature request
Regarding a floor heating here the legislation (and hygienic regulations) says the **floor should never overheat above let's say 27 Celsius**. If you have an **electrical floor heating** it may easily happen (not with the water one thou). So we would need another **sensor for the floor temperature** (which we actually have as we must install a probe inside the concrete floor) a

[2022-02-28 11:38] SergiuToporjinschi commented on #83
Hi,
Pfff that's quite a specific thing. I will think about this but I don't like to have something specific ... maybe we can find a solution for this...
Thank you for your input!

[2022-03-01 12:07] Toreca commented on #83
Thanks for considering. Of course it could be accomplished outside of your heater controller node (in the flow after it) but then it's appearance would be inconsistent (the controller would show "heating" but the heater would be actually turned off because of the other logic added in the flow). So my idea is to have this functionality embedded in one control element altogether. You could make it o

[2022-03-07 00:33] chrisghz commented on #82
I too would also welcome this feature back. I used the upper and lower to control water temperature of my gas heated hot tub, but also for wireless TRV's like you. I have noticed the thermal overshoot now without the ability to vary the hysteresis.

Please consider bringing it back.

[2022-03-12 15:38] frankyboy1973 commented on #81
Here the same problem with Iphone. Size too big. I need to scroll horizontal. Most times when i scroll horizontal, the target Temp jumps to min or max temperature.

[2022-03-22 10:54] chrisghz opened #84 "Please bring back upper and lower Hysteresis"
I've been using this node to control my hot tub water temperature for some time and made use of the upper and lower Hysteresis. Being able to have different values for heating is really useful, certainly when heating pool water. For instance, I never want the pool temperature to go much over the upper set point, say 0.2C, however I don't want the gas boiler to come on until the water has dropped b

[2022-04-28 15:31] alexwhittemore commented on #84
I can't offer any help, but

Me too! Neat!

[2022-04-28 15:34] alexwhittemore commented on #79
Same behavior here as @sniicker - since updating my system to the latest, I'm seeing the same "change for a few seconds, then revert" behavior.

[2022-10-07 12:16] dreamsinbits commented on #80
I had the same problem, thanks to @MartinGris I solved it. I also changed the protocol to wss. Because I have a setup with a reverse proxy (nginx) I had to add this to my nginx configuration file:

[code]

[2022-10-29 14:54] jssystemcz commented on #82
I really enjoyed using this heater control, unfortunately this year I upgraded the node red core and had to update the heater-controller to 3.0.2 as well. I miss the hysteresis lower and upper limits a lot.
Please, Sergio, would it be possible to return this functionality?
Thank you very much.

[2022-11-14 01:31] HeinzRuetschi commented on #77
Hi Sergiu, we can not chance the calendar with a inject payload. It always gives an error.
Invalid calendar with topic setCalendar {"calendar":{"Monday":{"00:00":18,"23:59":18},"Tuesday":{"00:00":18,"23:59":18},"Wednesday":{"00:00":18,"23:59":18},"Thursday":{"00:00":18,"23:59":18},"Friday":{"00:00":18,"22:00":18},"Saturday":{"00:00":18,"23:59":18},"Sunday":{"00:00":18,"23:59":18}}}
with topic calC

[2022-11-14 11:07] HeinzRuetschi opened #85 "Window icon open/closed"
Hi Sergiu,
- it would be nice if you could also implement a window icon open/closed state and drop the current target value to an open window temp value as a parameter, till the window is closed again.
- A other feature which could be added is away or holiday in order to apply a different calendar.
- Unfortunately I did not find a way to send a different calendar which your node would accept.
- Ma